<h1>Star Wars Films</h1>
<div class="container"></div>
<div class='row'>
    <div *ngFor='let film of filmsList' class='film-block col-md-5'>
        <div>
            <h1>{{film.title}}</h1>
            <span>
                <div class="film-dates">
                    <strong>Created Date:</strong>{{film.created  | date: "MM/dd/yy"}}<br/>
                    <strong>Release Date:</strong>{{film.release_date | date: "MM/dd/yy"}}<br/>
                </div>
                <div class="director-producers">
                    <strong>{{film.director}}</strong> <br/>
                    <strong>{{film.producer}}</strong>
                </div>
            </span>
        </div>
        <collapsibleCharacters [title]='Yes'>
            
            <div>This is a reusable component</div>
                    <div section-title>
                        <a>Film Characters</a>
                    </div>
                               
                        <div section-body *ngFor='let char of film.characters'>
                           <a href='/people?id={{char | FormatUrl}}'>{{char}}</a>
                        </div>
                   
        </collapsibleCharacters>
        <br/>
        <div>{{film.opening_crawl}}</div>
    </div>
</div>